body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*elementele din pagina sunt centrate*/
  height: 100vh; /*pus pe centru*/
}

.container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /*lungimea containerului */
  width: 100%; /*dimens containerului*/
}

h2 {
  margin-bottom: 20px;
  color: #333;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}
textarea {
  resize: orizontal;
  min-height: 100px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: #0056b3;
}
input:placeholder,
textarea:placeholder {
  color: #999;
}

.error {
  color: red;
  margin-top: 10px;
  display: none;
}
